In [ ]:
import pandas as pd
df = pd.read_csv("house_prices.csv")
print(df.head())

   Id     Location  Bedrooms  Bathrooms  Square_Feet  Year_Built   Price
0   1     New York         3          2         1500        2000  500000
1   2  Los Angeles         4          3         2000        1995  750000
2   3      Chicago         2          1         1200        2010  300000
3   4      Houston         5          4         2500        1985  900000
4   5      Phoenix         3          2         1600        2005  450000

In [ ]:
print("Dataset Shape:", df.shape)
print("Column Names:", df.columns)
print(df.info())
print(df.describe())
print(df.isnull().sum())

Dataset Shape: (10, 7)
Column Names: Index(['Id', 'Location', 'Bedrooms', 'Bathrooms', 'Square_Feet', 'Year_Built',
       'Price'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Id           10 non-null     int64
 1   Location     10 non-null     object
 2   Bedrooms     10 non-null     int64
 3   Bathrooms    10 non-null     int64
 4   Square_Feet  10 non-null     int64
 5   Year_Built   10 non-null     int64
 6   Price        10 non-null     int64
dtypes: int64(6), object(1)
memory usage: 692.0+ bytes
None
             Id   Bedrooms  Bathrooms  Square_Feet   Year_Built          Price
count  10.00000  10.000000  10.000000    10.000000    10.000000      10.000000
mean    5.50000   3.500000   2.500000  1850.000000  1999.800000  603000.000000
std     3.02765   1.080123   1.080123   514.781507    12.925427  235374.406236
min     1.00000   2.000000   1.000000  1100.000000  1980.000000  280000.000000
25%     3.25000   3.000000   2.000000  1525.000000  1991.250000  457500.000000
50%     5.50000   3.500000   2.500000  1850.000000  1999.000000  600000.000000
75%     7.75000   4.000000   3.000000  2175.000000  2008.750000  742500.000000
max    10.00000   5.000000   4.000000  2600.000000  2020.000000  950000.000000
Id             0
Location       0
Bedrooms       0
Bathrooms      0
Square_Feet    0
Year_Built     0
Price          0
dtype: int64